@model IEnumerable<PassionProject.Models.ServiceDto>

@{
    ViewBag.Title = "Create";
}

<h2>Book Appointment</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2">Customer Name:</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="CustomerName" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Customer Email:</label>
            <div class="col-md-10">
                <input class="form-control" type="email" name="CustomerEmail" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Select Sevice:</label>
            <div class="col-md-10">
                <select class="form-control" name="ServiceId" id="services-list">
                    <option value="x">Please Select</option>
                    @foreach (var service in Model)
                    {
                        <option value="@service.ServiceId">@service.Name</option>

                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Select Employee:</label>
            <div class="col-md-10">
                <select class="form-control" name="EmployeeId" id="employee-list">
                    <option value="">Please Select</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Select Time:</label>
            <div class="col-md-10">
                <input class="form-control" type="datetime-local" name="StartTime" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Book Appointment" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>

@section Scripts {
    @*@Scripts.Render("~/Scripts/script.js")*@
}
