@{
    ViewBag.Title = "Home Page";
}
<div class="home-screen">
    @*Clicked by : Toa Heftiba (https://unsplash.com/photos/H8y_8tbkSnw)*@
    <img id="home-img" width="100%" src="~/Content/Images/home3.jpg" />
    <div style="" class="home-content">
        <h1>Get The Best For Your Hair</h1>
        <p class="lead">Book an appointment now and get 20% discount!</p>
        <p>@Html.ActionLink("Book an Appointment »", "Create", "Appointment", new object { }, new { @class = "btn btn-primary btn-lg" })</p>
        @*<button>Book Appointment</button>*@
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="cta-block">
            <div class="emmergency item">
                <i class="fa fa-phone"></i>
                <h2>Contact Us</h2>
                <a href="#">1-000-000-0000</a>
                <p></p>
            </div>
            <div class="top-services item">
                <i class=""></i>
                <h2>Our Services</h2>
                <p>
                    We offer a wide range of beauty services for men and women together, in the same salon, right in the heart of downtown!
                    <br />
                    Hairdressers, colourists, certified stylists and skin care laser specialists!
                </p>
                <a href="Service/List" class="btn btn-main">Read more</a>
            </div>
            <div class="working-time item">
                <i class="fa fa-hourglass-o"></i>
                <h2>Working Hours</h2>
                <ul class="w-hours">
                    <li>Mon - Fri  - <span>8:00 - 17:00</span></li>
                    <li>Mon - Fri  - <span>8:00 - 17:00</span></li>
                    <li>Mon - Fri  - <span>8:00 - 17:00</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>